.header.row {
	margin: 0 .75rem;
}

.game-tile {
	padding: .75rem;
}

.smw-type {
  border: 8px solid #f83838;
}

.steam-type {
  border: 8px double #1a9fff;
}

.indie-type {
  border: 8px dotted #5b5;
}

.emu-type {
  border: 8px dashed #777;
}